@import url(http://fonts.googleapis.com/css?family=Lato);

body 
{
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	background-image:white;
}

#content
{
	font-size:9px;
	color:black;
	width:auto;
	height: 4em;
	margin-top: 0,5em;
	right: 0;
	left: 0;
	bottom:0;      
	position: fixed;
	background: #fff;
	box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 1px;
}

#footer 
{
	font-size:9px;
	color:#2A2A2A;
	width:auto;
	height: 4em;
	margin-top: 0,5em;
	right: 0;
	left: 0;
	bottom:0;      
	position: fixed;
	background: #fff;
	box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

#footer p
{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align:center;
}